#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
  /*background-color: #22983B;*/
}

#main .nav-pills > li > a:hover {
  /*background-color: #22983B;*/
}

body {
  background: #edf0f2;
  color: #404040;
  font-family: 'D2Coding', Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,legend{
  font-family: 'D2Coding', Arial, Helvetica, sans-serif;
  font-weight:700;
  /*font-weight: bold;*/
  /*color: #22983B;*/
}

p{
  font-size:16px;
  line-height:24px;
  margin:0px 0px 12px 0px;
  font-family: 'D2Coding', Arial, Helvetica, sans-serif;
  
}

blockquote {
  background-color: #F0F0F0;
  border-left:5px solid #CCCCCC;
  /*font-style:italic;*/
  line-height:24px;
  margin:0px 0px 24px 0px;
  padding: 6px 20px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre.sourceCode {
  background-color: #f5f5f5;
}

div.sourceCode {
  margin: 0 0;
}

#nav-top span.glyphicon {
  /*color: #22983B;*/
} 

#table-of-contents header{
  /*color:#22983B;*/
}

#table-of-contents h2{
  /*background-color:#22983B;*/
}

#main a {
  font-family: 'D2Coding', Arial, Helvetica, sans-serif;
  /*background-image: linear-gradient(180deg,#d64a70,#d64a70);*/
  /*color:#c7254e;*/
}

#content p {
  margin-bottom: 8px;
  margin-top: 8px;
}

#content ul {
  font-size: 14px;
}

#sidebar {
  font-size: 20;
}

a:hover{
  /*color:#3d1308*/
}

a:visited{
  /*color:#3d1308*/
}